[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
facebook-sdk = "*"
requests = "*"
urllib3 = "*"
scrapy = "*"
selenium = "*"
django-cors-headers = "*"
geckodriver-autoinstaller = "*"
mysqlclient = "*"
psycopg2 = "*"

[requires]
python_version = "3.6"
